MT5_LOGIN=62406
MT5_PASSWORD=your_investor_password
MT5_SERVER=Mondtrades-Server
MT5_SYMBOLS=XAUUSD.,GBPCAD.,USDCAD.,EURCAD.,GBPUSD.,USDJPY.,EURJPY.,USDCHF.,EURGBP.,EURUSD.,CADJPY.,GBPJPY.
MT5_TERMINAL_PATH=C:\Program Files\Mond Trades MT5 Terminal\terminal64.exe
TRADE_LOT_SIZE=0.01
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_channel_chat_id
